@model Patient_Management_System.ViewModel.AppointmentVM

@using (Html.BeginForm("BookAppointment", "Test", FormMethod.Post))
{
    <label>Doctor:</label>
    @Html.DropDownList("Doctor_ID", (IEnumerable<SelectListItem>)ViewBag.Doctor_ID, "-- Select Doctor --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Doctor_ID, "", new { @class = "text-danger" })

    <label>Date:</label>
    @Html.TextBoxFor(m => m.Apt_Date, new { type = "date" })

    <label>Time Slot:</label>
    @Html.TextBoxFor(m => m.Apt_Time, new { type = "time" })

    <button type="submit">Book Appointment</button>

    <p>@ViewBag.Message</p>

    <script>
        $(document).ready(function () {
            $("#Doctor_ID, #Apt_Date").change(function () {
                var doctorId = $("#Doctor_ID").val();
                var date = $("#Apt_Date").val();

                if (doctorId && date) {
                    $.getJSON('/Appointment/GetAvailableSlots', { doctorId: doctorId, date: date }, function (data) {
                        var timeSlotDropdown = $("#TimeSlot");
                        timeSlotDropdown.empty();
                        $.each(data, function (index, item) {
                            timeSlotDropdown.append($('<option>', { value: item, text: item }));
                        });
                    });
                }
            });
        });
    </script>

}
