@model IEnumerable<Patient_Management_System.Models.ScheduleTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Doctor.cshtml";
}

<div class="container p-4 mb-3 rounded d-flex justify-content-center align-items-center"
     style="background: linear-gradient(to right, #5e87e6, #d5e3c3); color: white; height: 100px;">
    <h1 class="display-6 text-center">Schedule Details</h1>
</div>

<!-- Centering the table -->
<div class="container d-flex justify-content-center">
    <div class="table-responsive" style="max-width: 80%;">
        <table class="table table-bordered text-center">
            <thead class="table-primary">
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Doctor</th>
                    <th>Specialities</th>
                    <th>Available Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-warning btn-sm mx-1" href="@Url.Action("Edit_Schedule", new { id = item.Schedule_ID })">
                                    <i class="fa fa-pencil"></i>
                                </a>


                                <a class="btn btn-danger btn-sm mx-1" href="@Url.Action("Delete_Schedule", new { Schedule_ID = item.Schedule_ID })">
                                    <i class="fa fa-trash"></i>
                                </a>

                               
                            </div>
                        </td>

                        @*<td>
                                <a class="text-dark" href="@Url.Action("Edit_Schedule", new { id = item.Schedule_ID })">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="text-danger" href="@Url.Action("Delete_Schedule", new { id = item.Schedule_ID })">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>*@

                        <td>@Html.DisplayFor(modelItem => item.Schedule_ID)</td>
                        <td>Dr. @(item.DoctorTbl.Dr_FirstName ?? "N/A") @(item.DoctorTbl.Dr_LastName ?? "N/A")</td>
                        <td>@Html.DisplayFor(modelItem => item.DepartmentTbl.Dept_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Available_Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Start_Time)</td>
                        <td>@Html.DisplayFor(modelItem => item.End_Time)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <a href="@Url.Action("Add_Schedule", "Doctor")" class="btn btn-primary btn-rounded">
        <i class="fa fa-plus"></i> Add Schedule
    </a>
</div>










