@model Patient_Management_System.Models.PatientsTbl
@{
    ViewBag.Title = "Registration";
}

@using (Html.BeginForm("Register", "PatientsTbl", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    @Html.AntiForgeryToken()

    <link href="~/Content/sty.css" rel="stylesheet" />
    <link href="~/Content/button.css" rel="stylesheet" />

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <style>
            .login-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80vh;
            }

            .login-box {
                display: flex;
                width: 800px;
                background: #fff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                overflow: hidden;
            }

            .login-image {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f7f7f7;
            }

                .login-image img {
                    max-width: 100%;
                    height: auto;
                }

            .login-form {
                width: 50%;
                padding: 30px;
            }
        </style>

        <div class="login-container">
            <div class="login-box">
                <!-- Image Section -->
                <div class="login-image">
                    <img src="~/Content/template/assets/images/sign_up.png" alt="Login Image">
                </div>
            </div>
        </div>

        <!-- 3-column layout -->

        <div class="form-row">
            <!-- First Name -->
            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_FirstName, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="FirstName" class="form__label">First Name</label>
                    @Html.ValidationMessageFor(model => model.P_FirstName, "", new { @class = "text-danger" })
                </div>
            </div>


            <!-- MiddleName -->
            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_MiddleName, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="MiddleName" class="form__label">Middle Name</label>
                    @Html.ValidationMessageFor(model => model.P_MiddleName, "", new { @class = "text-danger" })
                </div>
            </div>


            <!-- LastName -->
            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_LastName, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="LastName" class="form__label">Last Name</label>
                    @Html.ValidationMessageFor(model => model.P_LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.DropDownListFor(model => model.P_Gender, new SelectList(new List<string>
                        {  "Male", "Female", "Other"}), "Select",
                        new { @class = "form__field", id = "Gender", required = "required" })
                    <label for="Gender" class="form__label">Gender</label>
                    @Html.ValidationMessageFor(model => model.P_Gender, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.TextBoxFor(model => model.P_DOB, "{0:yyyy-MM-dd}", new { @class = "form__field", type = "date", required = "required" })
                    <label for="DOB" class="form__label">Date of Birth</label>
                    @Html.ValidationMessageFor(model => model.P_DOB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_Phone, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="Phone" class="form__label">Mobile Number</label>
                    @Html.ValidationMessageFor(model => model.P_Phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_Email, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="Email" class="form__label">Email</label>
                    @Html.ValidationMessageFor(model => model.P_Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.DropDownListFor(model => model.P_BloodGrp, new SelectList(new List<string>
                        {  "A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-" }), "Select",
                        new { @class = "form__field", id = "BloodGrp", required = "required" })
                    <label for="BloodGrp" class="form__label">Blood Group</label>
                    @Html.ValidationMessageFor(model => model.P_BloodGrp, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_Address, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="Address" class="form__label">Address</label>
                    @Html.ValidationMessageFor(model => model.P_Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_City, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="City" class="form__label">City</label>
                    @Html.ValidationMessageFor(model => model.P_City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_State, new { htmlAttributes = new { @class = "form__field", required = "required" } })
                    <label for="State" class="form__label">State</label>
                    @Html.ValidationMessageFor(model => model.P_State, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.EditorFor(model => model.P_Pincode, new { htmlAttributes = new { @class = "form__field", required = "required", } })
                    <label for="Pincode" class="form__label">Pincode</label>
                    @Html.ValidationMessageFor(model => model.P_Pincode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="form__group field">
                    <input type="file" name="P_Image" id="Image" class="form__field" style="height: 40px; padding:9px;" required="required" />
                    @Html.LabelFor(model => model.P_Image, "Image", new { @class = "form__label" })
                    @Html.ValidationMessageFor(model => model.P_Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.PasswordFor(model => model.P_Password, htmlAttributes: new { @class = "form__field", required = "required" })
                    <label for="Password" class="form__label">Password</label>
                    @Html.ValidationMessageFor(model => model.P_Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="form__group field">
                    @Html.TextAreaFor(model => model.P_Message, new { @class = "form__field", style = "height: 41px;" })
                    <label for="Message" class="form__label">Comments</label>
                    @Html.ValidationMessageFor(model => model.P_Message, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button value="Create"><b>Submit</b></button>

                <br><br>
                <p style="margin-left: 270px; font-size: 16px;">
                    Already  have an Account'? <a href="Login" style="text-decoration: none; color: white;"><b>Login</b></a>
                </p>
            </div>
        </div>
    </div>
 }
