@model Patient_Management_System.ViewModel.AppointmentVM

@{
    ViewBag.Title = "Add Appointment";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using (Html.BeginForm("Add_Appointment", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger"})

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Appointment</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">

                <!-- Doctor Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Doctor</label>
                        @Html.DropDownList("Doctor_ID", (IEnumerable<SelectListItem>)ViewBag.Doctor_ID, "-- Select Doctor --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Doctor_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Department Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Department</label>
                        @Html.DropDownList("Dept_ID", (IEnumerable<SelectListItem>)ViewBag.Dept_ID, "-- Select Department --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Appointment Date -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Date</label>
                        @Html.EditorFor(model => model.Apt_Date, new { htmlAttributes = new { @class = "form-control", type = "date", min = DateTime.Now.ToString("yyyy-MM-dd") } })
                    </div>
                </div>

                <!-- Time Slot Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Time Slot</label>
                        @Html.DropDownListFor(model => model.Apt_Time, ViewBag.TimeSlots as List<SelectListItem>, "-- Select Time --", new { @class = "form-control" })
                    </div>
                </div>

                <!-- Description -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
                    </div>
                </div>

                <!-- Email -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
                    </div>
                </div>

                <!-- Diseases -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Diseases</label>
                        @Html.TextBoxFor(model => model.Diseases, new { @class = "form-control" })
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add Appointment</button>
                </div>
            </div>
        </div>
    </div>
}