@model Patient_Management_System.ViewModel.PaymentVM
@{
    ViewBag.Title = "Add Payment";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using (Html.BeginForm("Add_Payment", "Admin", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()

    


    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Payment</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">

                <!-- Patient Selection -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Patient</label>
                        @Html.DropDownList("Patient_ID", ViewBag.Patient_Id as SelectList, "Select a Patient", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Patient_ID, "", new { @class = "text-danger" })
                    </div>


                    <!-- Amount -->
                
                        <div class="form-group">
                            <label>Amount</label>
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    

                    <!-- Payment Method -->
                   
                        <div class="form-group">
                            <label>Payment Method</label>
                            @Html.EditorFor(model => model.PaymentMethod, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                        </div>

                        <!-- Status -->
                        <div class="form-group">
                            <label>Status</label>
                            @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Active", Value = "Active" },
                                new SelectListItem { Text = "Inactive", Value = "Inactive" }
                            }, "Select Status", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>

                        <!-- Remarks -->
                        <div class="form-group">
                            <label>Remarks</label>
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", required = "required", rows = "3" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- Submit Button -->
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" style="margin-left:180px;">Add Payment</button>
                    </div>

                </div>
        </div>
      </div>
}


