@model Patient_Management_System.Models.ContactUsTbl

@{

    ViewBag.Title = "Edit_Contact";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h2>Edit</h2>
@using (Html.BeginForm("Edit_Contact", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Edit Contact</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">

                @Html.HiddenFor(model => model.Feedback_Id)

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name<label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email<label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Message<label>
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                       <label>Phone<label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn" style="margin-right:100px; ">Edit Contact</button>
                </div>
         </div>   
      </div>
   </div>
}
