@model Patient_Management_System.ViewModel.PrescriptionVM
@{
    ViewBag.Title = "Edit_Prescription";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using (Html.BeginForm("Edit_Prescription", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Edit Prescription</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">
                @Html.HiddenFor(m => m.Presc_ID)

                <div class="form-group">
                    <label>Patient</label>
                    

                    @Html.DropDownListFor(model => model.Patient_ID, ViewBag.Patient_ID as SelectList, "Select a Patient", new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Patient_ID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Doctor</label>
                    @Html.DropDownList("Doctor_ID", ViewBag.Doctor_ID as SelectList, "Select a Doctor", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Doctor_ID, "", new { @class = "text-danger" })
                </div>  

                        <div class="form-group">
                            <label>Medication</label>
                            @Html.EditorFor(model => model.Medication, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Medication, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Instruction</label>
                            @Html.EditorFor(model => model.Instructions, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Instructions, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Dosage</label>
                            @Html.EditorFor(model => model.Dosage, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Dosage, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <label>Dosage</label>
                            @Html.EditorFor(model => model.Dosage, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Dosage, "", new { @class = "text-danger" })
                        </div>


                        <!-- Appointment Date -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Date</label>
                                @Html.EditorFor(model => model.DateIssued, new { htmlAttributes = new { @class = "form-control", type = "date", min = DateTime.Now.ToString("yyyy-MM-dd") } })
                            </div>
                        </div>

                    </div>
                    <!-- Submit Button -->
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" style="margin-left:180px;">Edit Prescription</button>
                    </div>

                </div>
            </div>
 
}
