@model Patient_Management_System.ViewModel.DoctorVM
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using (Html.BeginForm("Edit_Doctor", "Admin", FormMethod.Post))
{@Html.AntiForgeryToken()
<link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/bootstrap-datetimepicker.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">

    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Edit Doctor</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="row">

            @Html.HiddenFor(m => m.Doctor_ID)
            <!-- First Name -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>First Name</label>
                    @Html.EditorFor(model => model.Dr_FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_FirstName, "", new { @class = "text-danger" })

                </div>
            </div>


            <!-- Last Name -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.EditorFor(model => model.Dr_LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_LastName, "", new { @class = "text-danger" })
                </div>
            </div>


            <!-- Qualification -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Qualification</label>
                    @Html.EditorFor(model => model.Dr_Qualification, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_Qualification, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- Department -->
            <div class="col-sm-4">
                <div class="form-group">

                    <label>Department</label>
                    @Html.DropDownList("Dept_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Fees -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Consultation Fees</label>
                    @Html.EditorFor(model => model.Fees, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fees, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- Gender -->
            <div class="col-sm-4">
                <div class="form-group gender-select">
                    <label class="gen-label">Gender:</label>
                    <div class="form-check-inline">
                        @Html.RadioButtonFor(model => model.Dr_Gender, "Male", new { @class = "form-check-input", @id = "Dr_Gender_Male" })
                        <label for="Dr_Gender_Male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check-inline">
                        @Html.RadioButtonFor(model => model.Dr_Gender, "Female", new { @class = "form-check-input", @id = "Dr_Gender_Female" })
                        <label for="Dr_Gender_Female" class="form-check-label">Female</label>
                    </div>
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Dr_Gender, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Date of Birth -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Date Of Birth</label>
                    @Html.TextBoxFor(model => model.Dr_DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", max = DateTime.Now.ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(model => model.Dr_DOB, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Phone -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Phone</label>
                    @Html.EditorFor(model => model.Dr_Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Email -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email</label>
                    @Html.EditorFor(model => model.Dr_Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_Email, "", new { @class = "text-danger" })
                </div>
            </div>

            

            <!-- Image -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Image</label>
                    <div class="profile-upload">

                        <div class="upload-img">
                            <img alt="" src="~/Content/Admin/assets/img/user.jpg" />
                        </div>

                        <div class="upload-input">
                            <input type="file" name="Dr_ImagePath" id="Dr_ImagePath" class="form-control" />
                        </div>
                        @Html.ValidationMessageFor(model => model.Dr_ImagePath, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <!-- Address -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Address</label>
                    @Html.EditorFor(model => model.Dr_Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_Address, "", new { @class = "text-danger" })
                </div>
            </div>


            <!-- City -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>City</label>
                    @Html.EditorFor(model => model.Dr_City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_City, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- State -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>State</label>
                    @Html.EditorFor(model => model.Dr_State, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dr_State, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Pincode -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Pincode</label>
                    @Html.EditorFor(model => model.Dr_Pincode, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.Dr_Pincode, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <!-- Status -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Status:</label>
                    @Html.DropDownListFor(model => model.Dr_Status, new List<SelectListItem>
                     {
             new SelectListItem { Text = "Active", Value = "Active" },
             new SelectListItem { Text = "Inactive", Value = "Inactive" }
         }, "Select Status", new { @class = "form-control", @id = "Dr_Status" })
                    @Html.ValidationMessageFor(model => model.Dr_Status, "", new { @class = "text-danger" })
                </div>
            </div>




        </div>
    </div>
</div>

<div>
    <button type="submit" class="btn btn-primary">Update Doctor</button>
</div>
}
