﻿
@{
    ViewBag.Title = "List_Prescription";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Prescription</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <a href="Add_Prescription" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i>Add Prescription</a>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
                    <tr>
                        <th class="text-right"> </th>
                        <th>ID</th>
                        <th>Dr Name</th>
                        <th>Patient Name</th>
                        <th>DateIssued</th>
                        <th>Medication</th>
                        <th>Dosage</th>
                        <th>Instructions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var prescVM in Model)
                    {
                      <tr>
                         <td class="text-right">
                            <a class="dropdown-item" href="@Url.Action("Edit_Prescription","Admin", new { PrescId =prescVM.Presc_ID })"><i class="fa fa-pencil m-r-5"></i></a>
                            <a class="dropdown-item" href="@Url.Action("Delete_Prescription","Admin", new { PrescId =prescVM.Presc_ID })"><i class="fa fa-trash-o m-r-5"></i></a>
                         </td>
                         <td>@prescVM.Presc_ID</td>
                         <td>@prescVM.Dr_FirstName</td>
                         <td>@prescVM.P_FirstName</td>
                         <td>@prescVM.DateIssued</td>
                         <td>@prescVM.Medication</td>
                         <td>@prescVM.Dosage</td>
                         <td>@prescVM.Instructions</td>
                      </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
  </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="see-all">
                    <a class="see-all-btn" href="javascript:void(0);">More</a>
                </div>
            </div>
        </div>
   