
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="row">

    <div class="col-sm-4 col-3">
        <h4 class="page-title">Appointment</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <a href="Add_Appointment" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i>Add Appointment</a>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
                    <tr>
                        <th class="text-right">ACTION</th>
                        <th>ID</th>
                        <th>Dr Name</th>
                        <th>Dept Name</th>
                        <th>Patient Name</th>
                        <th>Date</th>
                        <th>Slot</th>
                        <th>Description</th>
                        <th>Diseases</th>
                        <th>Contact</th>                                              
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aptVM in Model)
                    {
                      <tr>
                         <td class="text-right">
                            <a class="dropdown-item" href="@Url.Action("Edit_Appointment","Admin", new { aptId =aptVM.Appointment_ID })"><i class="fa fa-pencil m-r-5"></i></a>
                            <a class="dropdown-item" href="@Url.Action("Delete_Appointment","Admin", new { aptId =aptVM.Appointment_ID })"><i class="fa fa-trash-o m-r-5"></i> </a>
                         </td>
                         <td>@aptVM.Appointment_ID</td>
                         <td>@aptVM.Dr_FirstName</td>
                         <td>@aptVM.Dept_Name</td>
                         <td>@aptVM.P_FirstName</td>
                         <td>@aptVM.Apt_Date.ToString("dd-MM-yyyy")</td>
                         <td>@aptVM.Apt_Time</td>
                         <td>@aptVM.Description</td>
                         <td>@aptVM.Diseases</td>
                         <td>@aptVM.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="see-all">
            <a class="see-all-btn" href="javascript:void(0);">More</a>
        </div>
    </div>
</div>
        
