
@{
    ViewBag.Title = "List_Patient";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Patients</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <a href="Add_Patient" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Patient</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
                    <tr>
                        <th class="text-right"></th>
                        <th>ID</th>
                        <th>FIRST NAME</th>
                        <th>MIDDLE NAME</th>
                        <th>LAST NAME</th>
                        <th>GENDER</th>
                        <th>DOB</th>
                        <th>EMAIL</th>
                        <th>PHONE</th>
                        <th>BLOOD GRP</th>
                        <th>ADDRESS</th>
                        <th>CITY</th>
                        <th>STATE</th>
                        <th>PINCODE</th>
                        <th>MESSAGE</th>
                        <th>IMAGE</th>
                        <th>PASSWORD</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var patientTbl in Model)
                    {
                        <tr>
                            <td class="text-right">
                              <a class="dropdown-item" href="@Url.Action("Edit_Patient", new { patientId = patientTbl.Patient_Id })">
                                  <i class="fa fa-pencil m-r-5"></i> 
                              </a>
                              <a class="dropdown-item" href="@Url.Action("Delete_Patient", new { patientId = patientTbl.Patient_Id })" >
                                  <i class="fa fa-trash-o m-r-5"></i> </a>
                            </td>
                            <td>@patientTbl.Patient_Id</td>
                            <td>@patientTbl.P_FirstName</td>
                            <td>@patientTbl.P_MiddleName</td>
                            <td>@patientTbl.P_LastName</td>
                            <td>@patientTbl.P_Gender</td>
                            <td>@patientTbl.P_DOB.ToString("dd-MM-yyyy")</td>
                            <td>@patientTbl.P_Email</td>
                            <td>@patientTbl.P_Phone</td>
                            <td>@patientTbl.P_BloodGrp</td>
                            <td>@patientTbl.P_Address</td>
                            <td>@patientTbl.P_City</td>
                            <td>@patientTbl.P_State</td>
                            <td>@patientTbl.P_Pincode</td>
                            <td>@patientTbl.P_Message</td>
                            <td>
                                @if (!string.IsNullOrEmpty(patientTbl.P_Image))
                                {
                                    <img src="@Url.Content(patientTbl.P_Image)" alt="Patient Image" width="50" height="50" />
                                }
                                else
                                {
                                    <span>No Image</span>
                                }
                            </td>
                            <td>@patientTbl.P_Password</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
            </div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/dataTables.bootstrap4.min.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="assets/js/app.js"></script>